@* <img src="/chat-boat.jpg" class="rounded-4 shadow-sm" alt="chatbot image"> *@
@*         <img src="/css/ICONk.png" class="rounded-4 shadow-sm" /> *@
@* 
<section class="pt-0">
	<!-- Title and content -->
	<div class="bg-dark position-relative overflow-hidden pb-6 pt-8 py-sm-9">
		<!-- Grad blur -->
		<div class="position-absolute end-0 top-0">
			<img src="/blur-decoration-2.svg" class="opacity-1 blur-8 h-300px rotate-335" alt="Grad shape">
		</div>

		<!-- Title and content -->
		<div class="container position-relative pb-7" data-bs-theme="dark">
			<div class="inner-container">
				<!-- Main title -->
				<h1 class="text-center mb-0">
					Rapidly Develop an <span class="text-purple" style="color:rgb(21 255 84)">
						AI
						<svg width="100.1" height="50.9" viewBox="0 0 231.1 95.9" xmlns="http://www.w3.org/2000/svg"><g id="svgGroup" stroke-linecap="round" fill-rule="evenodd" font-size="9pt" stroke="#00000000" stroke-width="0.25mm" fill="#ffffff" style="stroke:#00000000;stroke-width:0.25mm;fill:rgb(21 255 84)"><path d="M 151.5 40.2 L 151.5 78.9 L 138.5 78.9 L 138.5 43.1 A 17.245 17.245 0 0 0 138.203 39.742 Q 137.152 34.473 132.381 33.956 A 10.044 10.044 0 0 0 131.3 33.9 L 118.9 38.8 L 118.9 78.9 L 105.9 78.9 L 105.9 3.7 L 118.9 3.7 L 118.9 28.6 L 135.4 21.2 Q 144.2 21.2 147.85 26.2 Q 150.714 30.123 151.331 36.51 A 38.433 38.433 0 0 1 151.5 40.2 Z M 43.9 66.5 L 43.9 78.9 L 22.7 78.9 A 49.11 49.11 0 0 1 16.635 78.552 Q 10.061 77.731 6.259 74.972 A 13.245 13.245 0 0 1 5.35 74.25 A 14.039 14.039 0 0 1 1.428 68.388 Q 0 64.524 0 59.1 L 0 7.7 L 13.9 7.7 L 13.9 59.1 Q 13.9 62.866 15.428 64.542 A 3.924 3.924 0 0 0 15.8 64.9 Q 17.7 66.5 22.7 66.5 L 43.9 66.5 Z M 93.3 21.4 L 93.3 78.9 L 84.6 78.9 L 80.6 72 L 66.7 79.5 A 24.648 24.648 0 0 1 60.925 78.872 A 13.893 13.893 0 0 1 51.1 71.1 A 31.127 31.127 0 0 1 48.356 62.287 A 34.365 34.365 0 0 1 48.35 62.25 A 62.599 62.599 0 0 1 47.612 53.631 A 69.711 69.711 0 0 1 47.6 52.35 A 432.333 432.333 0 0 1 47.606 49.944 Q 47.625 46.588 47.7 44.75 A 53.916 53.916 0 0 1 47.817 42.8 Q 47.909 41.618 48.055 40.289 A 99.429 99.429 0 0 1 48.2 39.05 A 37.803 37.803 0 0 1 48.549 36.76 Q 48.757 35.645 49.018 34.689 A 18.394 18.394 0 0 1 49.35 33.6 A 21.752 21.752 0 0 1 50.4 31.078 A 27.825 27.825 0 0 1 51.5 29.05 A 12.911 12.911 0 0 1 53.347 26.622 A 10.934 10.934 0 0 1 54.9 25.3 Q 59.4 22.2 66.6 22.2 L 80.3 22.2 L 93.3 21.4 Z M 231.1 21.4 L 231.1 78.9 L 222.4 78.9 L 218.4 72 L 204.5 79.5 A 24.648 24.648 0 0 1 198.725 78.872 A 13.893 13.893 0 0 1 188.9 71.1 A 31.127 31.127 0 0 1 186.156 62.287 A 34.365 34.365 0 0 1 186.15 62.25 A 62.599 62.599 0 0 1 185.412 53.631 A 69.711 69.711 0 0 1 185.4 52.35 A 432.333 432.333 0 0 1 185.406 49.944 Q 185.425 46.588 185.5 44.75 A 53.916 53.916 0 0 1 185.617 42.8 Q 185.709 41.618 185.855 40.289 A 99.429 99.429 0 0 1 186 39.05 A 37.803 37.803 0 0 1 186.349 36.76 Q 186.557 35.645 186.818 34.689 A 18.394 18.394 0 0 1 187.15 33.6 A 21.752 21.752 0 0 1 188.2 31.078 A 27.825 27.825 0 0 1 189.3 29.05 A 12.911 12.911 0 0 1 191.147 26.622 A 10.934 10.934 0 0 1 192.7 25.3 Q 197.2 22.2 204.4 22.2 L 218.1 22.2 L 231.1 21.4 Z M 164.3 23.9 L 177.3 23.9 L 177.3 81 Q 177.3 87.1 173.45 91.5 A 12.316 12.316 0 0 1 167.212 95.281 Q 164.913 95.9 162.1 95.9 L 154.7 95.9 L 154.7 84.9 L 159.7 84.9 Q 164.3 84.9 164.3 80.2 L 164.3 23.9 Z M 70.4 65.8 L 80.3 60.7 L 80.3 33.9 L 70.4 33.9 A 11.134 11.134 0 0 0 67.439 34.268 A 7.217 7.217 0 0 0 62.75 38.1 A 15.684 15.684 0 0 0 61.571 41.303 Q 60.737 44.514 60.619 49.109 A 60.404 60.404 0 0 0 60.6 50.65 Q 60.6 57.17 61.85 60.672 A 9.585 9.585 0 0 0 62.65 62.4 A 6.45 6.45 0 0 0 66.111 65.149 Q 67.289 65.576 68.768 65.723 A 16.537 16.537 0 0 0 70.4 65.8 Z M 208.2 65.8 L 218.1 60.7 L 218.1 33.9 L 208.2 33.9 A 11.134 11.134 0 0 0 205.239 34.268 A 7.217 7.217 0 0 0 200.55 38.1 A 15.684 15.684 0 0 0 199.371 41.303 Q 198.537 44.514 198.419 49.109 A 60.404 60.404 0 0 0 198.4 50.65 Q 198.4 57.17 199.65 60.672 A 9.585 9.585 0 0 0 200.45 62.4 A 6.45 6.45 0 0 0 203.911 65.149 Q 205.089 65.576 206.568 65.723 A 16.537 16.537 0 0 0 208.2 65.8 Z M 172.799 0.07 A 23.992 23.992 0 0 0 170.9 0 A 23.76 23.76 0 0 0 168.903 0.077 Q 167.036 0.236 165.895 0.718 A 3.556 3.556 0 0 0 164.75 1.45 Q 163.617 2.583 163.37 5.638 A 23.128 23.128 0 0 0 163.3 7.5 A 23.41 23.41 0 0 0 163.365 9.304 Q 163.515 11.246 164.017 12.436 A 3.747 3.747 0 0 0 164.75 13.6 A 3.521 3.521 0 0 0 165.854 14.341 Q 167.542 15.1 170.85 15.1 A 23.803 23.803 0 0 0 172.671 15.035 Q 174.626 14.885 175.807 14.383 A 3.567 3.567 0 0 0 176.95 13.65 Q 178.4 12.2 178.4 7.55 A 24.085 24.085 0 0 0 178.325 5.565 Q 178.171 3.709 177.7 2.574 A 3.565 3.565 0 0 0 177 1.45 A 2.426 2.426 0 0 0 176.974 1.423 Q 175.869 0.314 172.799 0.07 Z" vector-effect="non-scaling-stroke" /></g></svg>
					</span> Using Your Expertise
				</h1>

				<!-- List -->
				<ul class="list-inline d-flex justify-content-center flex-wrap gap-2 gap-md-4 mb-0 mt-4 mt-xl-5">
					<li class="list-inline-item">
						<i class="bi bi-cloud-fill text-pink me-2 lead"></i>Cloud hosting
					</li>
					<li class="list-inline-item"> <i class="bi bi-chat-square-quote-fill text-success me-2 lead"></i>Team collaboration</li>
					<li class="list-inline-item"> <i class="bi bi-lightbulb-fill text-warning me-2 lead"></i>Fully adaptable</li>
					<li class="list-inline-item"> <i class="bi bi-database-fill text-info me-2 lead"></i>Unify your data</li>
				</ul>

				<!-- Buttons -->
				<div class="d-flex justify-content-center flex-wrap gap-3 mt-4 mt-xl-5">
					<a href="#" class="btn btn-primary icon-link icon-link-hover mb-0">Start building now <i class="bi bi-arrow-right"></i></a>
					<a href="#" class="btn btn-white-shadow mb-0">Get started</a>
				</div>
			</div>
		</div>
	</div>

	<!-- Image -->
	<div class="container mt-n7 mt-sm-n9">
		<!-- Image -->
		<div class="bg-body bg-opacity-10 bg-blur border border-white border-opacity-10 position-relative rounded-5 shadow-primary-lg p-2 p-sm-4">
			<!-- Dots -->
			<span class="d-none d-sm-block">
				<svg class="mt-n4" width="40" height="10" viewBox="0 0 40 10" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path class="text-success" d="M10 5C10 7.76142 7.76142 10 5 10C2.23858 10 0 7.76142 0 5C0 2.23858 2.23858 0 5 0C7.76142 0 10 2.23858 10 5Z" fill="currentColor"></path>
					<path class="text-warning" d="M25 5C25 7.76142 22.7614 10 20 10C17.2386 10 15 7.76142 15 5C15 2.23858 17.2386 0 20 0C22.7614 0 25 2.23858 25 5Z" fill="currentColor"></path>
					<path class="text-danger" d="M40 5C40 7.76142 37.7614 10 35 10C32.2386 10 30 7.76142 30 5C30 2.23858 32.2386 0 35 0C37.7614 0 40 2.23858 40 5Z" fill="currentColor"></path>
				</svg>
			</span>

			<!-- Images -->
			
			<div class="row g-4 g-lg-5 rounded-4 shadow-sm" style="padding:5%">

				<!-- Feature item -->
				<div class="col-md-4 mb-4 mb-sm-0">
					<div class="card card-body bg-transparent text-center p-0 wster">
						<!-- Icon -->
						<div class="icon-xl bg-warning bg-opacity-25 rounded-2 m-auto d-flex justify-content-center align-items-center mb-4">
							<svg class="text-warning" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path fill-rule="evenodd" clip-rule="evenodd" d="M41.5812 5.73541C42.4755 5.6878 43.2267 6.4001 43.2268 7.29567C43.2269 13.8143 42.6409 18.8998 41.541 22.788C40.441 26.6766 38.7961 29.4729 36.6033 31.2632C32.5146 34.6013 27.199 33.9631 21.9796 32.0571C23.4158 28.3359 25.8081 25.0887 29.3104 23.7778C30.1186 23.4753 30.5285 22.575 30.226 21.7668C29.9235 20.9586 29.0232 20.5486 28.215 20.8511C23.8177 22.4969 21.0169 26.2907 19.3648 30.1898C17.4616 27.1276 16.4531 24.1562 16.4066 21.3509C16.3559 18.2854 17.4583 15.553 19.5442 13.2865C23.6288 8.8482 31.3809 6.27845 41.5812 5.73541ZM19.3648 30.1898C19.168 30.6543 18.9875 31.1203 18.8225 31.5843C18.3369 32.9501 17.9746 34.3281 17.7223 35.6495C17.5234 35.2543 17.3162 34.8545 17.1014 34.4543C16.0691 32.531 14.8248 30.5291 13.4449 28.9866C12.1246 27.5107 10.3818 26.1181 8.33203 26.1181C7.46909 26.1181 6.76953 26.8177 6.76953 27.6806C6.76953 28.5436 7.46909 29.2431 8.33203 29.2431C8.97047 29.2431 9.91593 29.7288 11.1159 31.0701C12.2562 32.3448 13.3641 34.0992 14.348 35.9322C15.3244 37.7513 16.1429 39.5801 16.719 40.9601C17.0063 41.6484 17.2317 42.221 17.3845 42.6196C17.4609 42.8189 17.5191 42.9744 17.5578 43.079C17.5771 43.1313 17.5916 43.1709 17.601 43.1967L17.6113 43.2251L17.6135 43.2314L17.6138 43.2323L17.6139 43.2325L17.6139 43.2326C17.8947 44.0168 18.7414 44.4429 19.5386 44.2011C20.3358 43.9592 20.8031 43.1344 20.6007 42.3262C20.3928 41.4965 20.3128 40.0863 20.4886 38.3158C20.6617 36.5727 21.0725 34.5843 21.7669 32.6311C21.8354 32.4387 21.9062 32.2473 21.9796 32.0571C21.5007 31.8822 21.0225 31.6966 20.5462 31.5024C20.2561 31.3842 20.0082 31.1814 19.8348 30.9205C19.6725 30.6764 19.5158 30.4328 19.3648 30.1898Z" fill="currentColor"></path>
							</svg>
						</div>
						<!-- Title and content -->
						<h6 class="mb-3 tser">Future-proof solutions</h6>
							</div>
				</div>

				<!-- Feature item -->
				<div class="col-md-4 mb-4 mb-sm-0">
					<div class="card card-body bg-transparent text-center p-0 wster">
						<!-- Icon -->
						<div class="icon-xl bg-primary bg-opacity-25 rounded-2 m-auto d-flex justify-content-center align-items-center mb-4">
							<svg class="text-primary" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M10.4979 31.473C10.1631 31.7097 9.86596 31.9497 9.63182 32.1838C7.74117 34.0744 7.08688 36.5528 6.87055 38.4055C6.76034 39.3494 6.75755 40.1826 6.78209 40.7813C6.7944 41.0822 7.01417 42.7876 7.03109 42.9622C7.20559 42.979 8.91109 43.1988 9.2118 43.2111C9.81073 43.2357 10.6437 43.233 11.5877 43.1226C13.4403 42.9063 15.9188 42.2519 17.8094 40.3613C18.0436 40.1272 18.2835 39.8301 18.5203 39.4953C18.6762 39.2749 18.7542 39.1647 18.9789 38.6159C19.4868 37.3761 19.2859 35.0169 18.5758 33.8809C18.2614 33.3782 17.987 33.1036 17.4383 32.5549C16.8895 32.0061 16.6151 31.7317 16.1123 31.4174C14.9762 30.7074 12.6172 30.5065 11.3774 31.0142C10.8286 31.239 10.7184 31.3169 10.4979 31.473Z" fill="currentColor"></path>
								<path fill-rule="evenodd" clip-rule="evenodd" d="M35.1041 7.29265C36.9837 6.94724 38.6268 6.82155 39.8045 6.78213C40.5789 6.75622 40.9662 6.74326 41.3677 6.86095C42.1349 7.08586 42.9093 7.86015 43.1341 8.62745C43.2518 9.02893 43.2389 9.41618 43.2129 10.1907C43.1735 11.3683 43.0479 13.0114 42.7024 14.8909C42.0406 18.492 40.5504 23.077 37.1997 26.8837L36.7606 35.3195C36.566 39.0589 33.477 41.9912 29.7324 41.9912C25.9624 41.9912 22.8622 39.0203 22.7014 35.2537L22.6185 33.3108L16.6843 27.3766L14.7413 27.2937C10.9748 27.133 8.00391 24.0326 8.00391 20.2626C8.00391 16.518 10.9361 13.4292 14.6757 13.2345L23.1114 12.7955C26.9181 9.44472 31.5031 7.95447 35.1041 7.29265ZM31.2491 22.9166C31.2491 25.2178 29.3837 27.0833 27.0824 27.0833C24.7812 27.0833 22.9158 25.2178 22.9158 22.9166C22.9158 20.6154 24.7812 18.7499 27.0824 18.7499C29.3837 18.7499 31.2491 20.6154 31.2491 22.9166Z" fill="currentColor"></path>
							</svg>
						</div>
						<!-- Title and content -->
						<h6 class="mb-3 tser ">Data security and compliance</h6>
						</div>
				</div>

				<!-- Feature item -->
				<div class="col-md-4 mb-4 mb-sm-0">
					<div class="card card-body bg-transparent text-center p-0 wster">
						<!-- Icon -->
						<div class="icon-xl bg-pink bg-opacity-25 rounded-2 m-auto d-flex justify-content-center align-items-center mb-4">
							<svg class="text-pink" width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M37.1449 4.97022C36.5386 4.66956 35.9396 4.73612 35.5349 4.84152C35.1317 4.94645 34.7405 5.13597 34.3922 5.32947C33.7113 5.70762 32.8413 6.3055 31.809 7.01491L9.1608 22.5792C8.49876 23.034 7.89301 23.4503 7.46149 23.8259C7.0684 24.1682 6.38992 24.8263 6.37528 25.8257C6.3692 26.2417 6.46286 26.6532 6.64847 27.0255C7.0943 27.9201 7.99082 28.2195 8.49332 28.3578C9.04499 28.5097 9.77115 28.6226 10.5648 28.7461L18.0475 29.9103L13.063 38.7134C12.4699 39.7607 11.9669 40.649 11.6597 41.3403C11.5021 41.6953 11.351 42.0944 11.2841 42.5011C11.2163 42.9132 11.2083 43.5007 11.5471 44.0667C11.7835 44.4617 12.1204 44.7869 12.5235 45.0094C13.1011 45.3282 13.6879 45.2997 14.0973 45.2174C14.5013 45.1361 14.8951 44.9713 15.2442 44.8013C15.9244 44.4701 16.7944 43.9361 17.8203 43.3067L40.7311 29.2505C41.3947 28.8434 42.0057 28.4686 42.4465 28.1226C42.8538 27.8028 43.5459 27.1922 43.6203 26.213C43.6515 25.8022 43.5849 25.3899 43.4257 25.0099C43.0465 24.1042 42.1972 23.7428 41.7097 23.5678C41.1824 23.3782 40.4842 23.2153 39.7263 23.0382L31.6572 21.1522L36.7682 11.4183C37.3505 10.3093 37.8413 9.37477 38.1363 8.65395C38.2872 8.28508 38.429 7.87418 38.4855 7.46158C38.5424 7.04718 38.5376 6.44439 38.1674 5.87808C37.9134 5.48979 37.5605 5.17637 37.1449 4.97022Z" fill="currentColor"></path>
							</svg>
						</div>
						<!-- Title and content -->
						<h6 class="mb-3 tser">محرك تحويل النصوص الى كلام (TTS)</h6>
					</div>
				</div>

			</div>
			<!-- Decoration image -->
			 <img src="/chat-heart.png" class="position-absolute top-0 start-0 ms-8 mt-n4 d-none d-sm-block" alt="">
		</div>
	</div>
</section>
 *@
<!-- يتم ستدعاء صفحة في Home قالب 2 -->
<!-- TemlatIcon  هنا يتم ستدعاء باقي لعنصر للصفحة وصوره  -->
<!-- TemlatIconIsItms هنا يتم ستدعاء صفحة  -->
@page "/TemlatIcon"
<section class="pt-0" style="margin-top:3%">
	<!-- Title and content -->

	
	@if (CardTextAndIconlsList != null)
	{
		<TemlatIcon Params="CardTextAndIconlsList" />
	}
	<!-- Image -->
	<div class="container mt-n7 mt-sm-n9">
		<!-- Image -->
		<div class="bg-body bg-opacity-10 bg-blur border border-white border-opacity-10 position-relative rounded-5 shadow-primary-lg p-2 p-sm-4">
			<!-- Dots -->
			<span class="d-none d-sm-block">
				<svg class="mt-n4" width="40" height="10" viewBox="0 0 40 10" fill="none" xmlns="http://www.w3.org/2000/svg">
					<path class="text-success" d="M10 5C10 7.76142 7.76142 10 5 10C2.23858 10 0 7.76142 0 5C0 2.23858 2.23858 0 5 0C7.76142 0 10 2.23858 10 5Z" fill="currentColor"></path>
					<path class="text-warning" d="M25 5C25 7.76142 22.7614 10 20 10C17.2386 10 15 7.76142 15 5C15 2.23858 17.2386 0 20 0C22.7614 0 25 2.23858 25 5Z" fill="currentColor"></path>
					<path class="text-danger" d="M40 5C40 7.76142 37.7614 10 35 10C32.2386 10 30 7.76142 30 5C30 2.23858 32.2386 0 35 0C37.7614 0 40 2.23858 40 5Z" fill="currentColor"></path>
				</svg>
			</span>

			<!-- Images -->

			<div class="row g-4 g-lg-5 rounded-4 " style="padding:5%">

				<!-- Feature item -->
				@foreach (var cardDetai in cardDetailsL)
				{
					<TemlatIconIsItms Params="@cardDetai" />
				}

				<!-- Feature item -->
				

			</div>
			<!-- Decoration image -->
			<img src="/chat-heart.png" class="position-absolute top-0 start-0 ms-8 mt-n4 d-none d-sm-block" alt="">
		</div>
	</div>
</section>

@code {
	CardTextAndIcon? CardTextAndIconlsList;

	protected override void OnInitialized()
	{

		CardTextAndIconlsList = new CardTextAndIcon()
			{
				Name = "Rapidly Develop an",
				ButtonLink = "Start building now",
				Description = "Get started",
				Icon = new CardIcon() // يجب أن يكون النوع CardIcon وليس List<CardIconServics>
				{
					Src = "/blur-decoration-2.svg",
					ClassIcon = " "
				},


			};
	}

	private List<CaerdSevicisIcon> cardDetailsL = new List<CaerdSevicisIcon>
	{
		new CaerdSevicisIcon
		{Name= "Future-proof solutions"},
		new CaerdSevicisIcon
		{Name= "محرك تحويل النصوص الى كلام (TTS)"},
		
		new CaerdSevicisIcon
		{Name="Data security and compliance"}
	};
}
