@page "/"
@using BlazorASG.Components.Card
@using BlazorASG.Components.New
@using BlazorASG.Data.TItem
@using BlazorASG.Components.pricing
@using BlazorASG.Components.Index

 <NewCard />
@* <CardStart />
 *@
<div>
	<!-- Caerd قالب 2 ملف  -->

@* 	<Timalcard />
 *@@* 	<CaerdSevicis />
 *@</div>
		


<NumberCard />
<!-- ServicisCard قالب 3 ملف  -->

<SectionSercicis/>
<!-- Icon قالب 4 ملف  -->

<Mainicon />
<Fdnull />
<!-- Pricing قالب 5 ملف  -->

		<PricingPlanServicis  />
<!-- Pricing قالب 5 ملف  -->

 	<PricingPlanAlias />
<!-- Footer قالب 6 ملف  -->

<SectionFooter />
