/*.from-gray-50-to-white, .from-gray-50-to-white:hover {
    --tw-gradient-from: #f9fafb var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(249 250 251 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #fff var(--tw-gradient-to-position);
}

.pt-6 {
    padding-top: 1.5rem;
}

.bg-gradient-to-l {
    background-image: linear-gradient(to left, var(--tw-gradient-stops));
}

.border-gray-100 {
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246 / var(--tw-border-opacity));
}

.border {
    border-width: 1px;
}

.rounded-xl {
    border-radius: .75rem;
}

.overflow-hidden {
    overflow: hidden;
}

}

.pb-4 {
    padding-bottom: 1rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.items-center {
    align-items: center;
}

.flex {
    display: flex;
}

.mb-2 {
    margin-bottom: .5rem;
}

a {
    color: inherit;
    text-decoration: inherit;
}



.flex-none {
    flex: none;
}

.relative {
    position: relative;
}

.bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.rounded-full {
    border-radius: 9999px;
}

.overflow-hidden {
    overflow: hidden;
}

.flex-none {
    flex: none;
}

.size-12 {
    width: 3rem;
    height: 3rem;
}

.mr-3 {
    margin-right: .75rem;
}

img, video {
    max-width: 100%;
    height: auto;
}

img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
    vertical-align: middle;
}

.my-1 {
    margin-top: .25rem;
    margin-bottom: .25rem;
}

}

.font-bold {
    font-weight: 700;
}

.text-lg\/5 {
    font-size: 1.125rem;
    line-height: 1.25rem;
}

.items-center {
    align-items: center;
}

.flex {
    display: flex;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
    margin: 0;
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}

.font-mono {
    font-family: IBM Plex Mono, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

.px-1 {
    padding-left: .25rem;
    padding-right: .25rem;
}

.bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: rgb(229 231 235 / var(--tw-bg-opacity));
}

.rounded {
    border-radius: .25rem;
}

.inline-block {
    display: inline-block;
}

.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
}

.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}

.border-gray-100 {
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246 / var(--tw-border-opacity));
}

.border-t {
    border-top-width: 1px;
}

ol, ul, menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

.py-1\.5 {
    padding-top: .375rem;
    padding-bottom: .375rem;
}

.px-2 {
    padding-left: .5rem;
    padding-right: .5rem;
}

.overflow-hidden {
    overflow: hidden;
}

.items-center {
    align-items: center;
}

.flex {
    display: flex;
}

.relative {
    position: relative;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.py-0\.5 {
    padding-top: .125rem;
    padding-bottom: .125rem;
}

.px-2 {
    padding-left: .5rem;
    padding-right: .5rem;
}

.rounded {
    border-radius: .25rem;
}

.block {
    display: block;
}*/
/*////////////////////////////////////////
*/
/*.space-y-4 > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc(1rem* calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc(1rem* var(--tw-space-y-reverse));
}

.pt-6 {
    padding-top: 1.5rem;
}

.py-4 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.border-gray-100 {
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246 / var(--tw-border-opacity));
}

.mb-6 {
    margin-bottom: 1.5rem;
}



.justify-between {
    justify-content: space-between;
}

.flex {
    display: flex;
}

.font-bold {
    font-weight: 700;
}

.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}

.items-center {
    align-items: center;
}

.flex-row {
    flex-direction: row;
}

.flex {
    display: flex;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}




.overflow-y-hidden {
    overflow-y: hidden;
}

.overflow-x-auto {
    overflow-x: auto;
}

.items-center {
    align-items: center;
}

.h-12 {
    height: 3rem;
}

.flex {
    display: flex;
}

.-mb-\[1px\], .-mb-px {
    margin-bottom: -1px;
}

.to-white {
    --tw-gradient-to: #fff var(--tw-gradient-to-position);
}

.via-white {
    --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), #fff var(--tw-gradient-via-position), var(--tw-gradient-to);
}

.border-gray-100 {
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246 / var(--tw-border-opacity));
}

.border-b {
    border-bottom-width: 1px;
}

.tab-alternate.active {
    --tw-border-opacity: 1;
    border-color: rgb(55 65 81 / var(--tw-border-opacity));
    font-weight: 600;
    --tw-text-opacity: 1;
    color: rgb(31 41 55 / var(--tw-text-opacity));
}

.tab-alternate {
    display: flex;
    height: 100%;
    align-items: center;
    white-space: nowrap;
    border-bottom-width: 2px;
    border-color: transparent;
    padding-left: .625rem;
    padding-right: .625rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
}

a {
    color: inherit;
    text-decoration: inherit;
}

.tab-alternate {
    display: flex;
    height: 100%;
    align-items: center;
    white-space: nowrap;
    border-bottom-width: 2px;
    border-color: transparent;
    padding-left: .625rem;
    padding-right: .625rem;
    font-weight: 500;
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
}

a {
    color: inherit;
    text-decoration: inherit;
}


.contents {
    display: contents;
}



.gap-y-6 {
    row-gap: 1.5rem;
}

.flex-col {
    flex-direction: column;
}

.flex {
    display: flex;
}

.mt-6 {
    margin-top: 1.5rem;
}



.shadow-alternate-sm {
    box-shadow: 0 5px 5px #00000008, 0 2px 2px #00000008, 0 0 1px #00000008;
}

.pt-4 {
    padding-top: 1rem;
}

.px-4 {
    padding-left: 1rem;
    padding-right: 1rem;
}

.border-gray-100 {
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246 / var(--tw-border-opacity));
}

.border {
    border-width: 1px;
}

.rounded-xl {
    border-radius: .75rem;
}

.self-start {
    align-self: flex-start;
}

.gap-4 {
    gap: 1rem;
}

.flex-col {
    flex-direction: column;
}

.w-full {
    width: 100%;
}

.flex {
    display: flex;
}

.mt-4 {
    margin-top: 1rem;
}



.justify-between {
    justify-content: space-between;
}

.items-baseline {
    align-items: baseline;
}

.flex {
    display: flex;
}



.font-semibold {
    font-weight: 600;
}



.text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
}

.leading-none {
    line-height: 1;
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}

.ml-auto {
    margin-left: auto;
}



.underline {
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.gap-5 {
    gap: 1.25rem;
}

.grid-rows-2 {
    grid-template-rows: repeat(2, minmax(0, 1fr));
}

.grid {
    display: grid;
}

.items-baseline {
    align-items: baseline;
}

.flex {
    display: flex;
}

.mb-2\.5 {
    margin-bottom: .625rem;
}


.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
}

.leading-none {
    line-height: 1;
}

.whitespace-nowrap {
    white-space: nowrap;
}

.gap-1\.5 {
    gap: .375rem;
}

.items-center {
    align-items: center;
}

.flex {
    display: flex;
}

.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgb(75 85 99 / var(--tw-text-opacity));
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}

.px-1\.5 {
    padding-left: .375rem;
    padding-right: .375rem;
}

.bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

.rounded-full {
    border-radius: 9999px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

ment.style {
}

.text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}

.ml-auto {
    margin-left: auto;
}



.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-0\.5 {
    --tw-translate-y: .125rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.inline-block {
    display: inline-block;
}

.relative {
    position: relative;
}



.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}

.ml-0\.5 {
    margin-left: .125rem;
}

img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
    vertical-align: middle;
}

element.style {
}

.ring-gray-200\/40 {
    --tw-ring-color: rgb(229 231 235 / .4);
}

.ring-1 {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.bg-gray-200\/80 {
    background-color: #e5e7ebcc;
}

.rounded-full {
    border-radius: 9999px;
}

.items-center {
    align-items: center;
}

.h-\[8px\] {
    height: 8px;
}

.flex {
    display: flex;
}

.relative {
    position: relative;
}


.ease-in {
    transition-timing-function: cubic-bezier(.4,0,1,1);
}

.duration-100 {
    transition-duration: .1s;
}

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

.h-\[8px\] {
    height: 8px;
}

element.style {
}

.transition-opacity {
    transition-property: opacity;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

.shadow {
    --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.text-white {
    --tw-text-opacity: 1;
    color: rgb(255 255 255 / var(--tw-text-opacity));
}

.leading-tight {
    line-height: 1.25;
}

.font-normal {
    font-weight: 400;
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}

.p-2 {
    padding: .5rem;
}

.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.border-b-0 {
    border-bottom-width: 0px;
}

.border {
    border-width: 1px;
}

.rounded {
    border-radius: .25rem;
}

.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-2 {
    --tw-translate-y: .5rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-x-1\/2 {
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.w-44 {
    width: 11rem;
}

.hidden {
    display: none;
}

.z-10 {
    z-index: 10;
}

.top-full {
    top: 100%;
}

.left-1\/2 {
    left: 50%;
}

.absolute {
    position: absolute;
}

element.style {
}

.border-x-transparent {
    border-left-color: transparent;
    border-right-color: transparent;
}

.border-black {
    --tw-border-opacity: 1;
    border-color: rgb(0 0 0 / var(--tw-border-opacity));
}

.border-t-0 {
    border-top-width: 0px;
}

.border-4 {
    border-width: 4px;
}

.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.-translate-x-1\/2 {
    --tw-translate-x: -50%;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.w-0 {
    width: 0px;
}

.h-0 {
    height: 0px;
}

.left-1\/2 {
    left: 50%;
}

.bottom-full {
    bottom: 100%;
}

.absolute {
    position: absolute;
}

element.style {
}

.col-span-1 {
    grid-column: span 1 / span 1;
}


.items-baseline {
    align-items: baseline;
}

.flex {
    display: flex;
}

.mb-2\.5 {
    margin-bottom: .625rem;
}

element.style {
}

.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
}

.leading-none {
    line-height: 1;
}

.whitespace-nowrap {
    white-space: nowrap;
}

.gap-1 {
    gap: .25rem;
}

.items-center {
    align-items: center;
}

.flex {
    display: flex;
}

element.style {
}

a {
    color: inherit;
    text-decoration: inherit;
}

element.style {
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}

.translate-y-px {
    --tw-translate-y: 1px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

img, svg, video, canvas, audio, iframe, embed, object {
    display: block;
    vertical-align: middle;
}

element.style {
}

.text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}

.ml-auto {
    margin-left: auto;
}


.transform {
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.translate-y-0\.5 {
    --tw-translate-y: .125rem;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skew(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.inline-block {
    display: inline-block;
}

.relative {
    position: relative;
}

element.style {
}

.ring-gray-200\/40 {
    --tw-ring-color: rgb(229 231 235 / .4);
}

.ring-1 {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
}

.bg-gray-200\/80 {
    background-color: #e5e7ebcc;
}

.rounded-full {
    border-radius: 9999px;
}

.overflow-hidden {
    overflow: hidden;
}

.h-\[6px\] {
    height: 6px;
}



.ease-in {
    transition-timing-function: cubic-bezier(.4,0,1,1);
}

.duration-100 {
    transition-duration: .1s;
}

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
}

.to-gray-600 {
    --tw-gradient-to: #4b5563 var(--tw-gradient-to-position);
}

.from-black {
    --tw-gradient-from: #000 var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(0 0 0 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
}

.bg-gradient-to-t {
    background-image: linear-gradient(to top, var(--tw-gradient-stops));
}

.w-0 {
    width: 0px;
}

.h-\[6px\] {
    height: 6px;
}


.from-gray-50-to-white, .from-gray-50-to-white:hover {
    --tw-gradient-from: #f9fafb var(--tw-gradient-from-position);
    --tw-gradient-to: rgb(249 250 251 / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
    --tw-gradient-to: #fff var(--tw-gradient-to-position);
}

.p-4 {
    padding: 1rem;
}

.bg-gradient-to-r {
    background-image: linear-gradient(to right, var(--tw-gradient-stops));
}

.border-gray-100 {
    --tw-border-opacity: 1;
    border-color: rgb(243 244 246 / var(--tw-border-opacity));
}

.border-t {
    border-top-width: 1px;
}

.rounded-b-xl {
    border-bottom-right-radius: .75rem;
    border-bottom-left-radius: .75rem;
}

.overflow-hidden {
    overflow: hidden;
}

.gap-2 {
    gap: .5rem;
}

.flex-col {
    flex-direction: column;
}

.flex {
    display: flex;
}

.-mx-4 {
    margin-left: -1rem;
    margin-right: -1rem;
}

.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity));
}

.leading-none {
    line-height: 1;
}

.text-sm {
    font-size: .875rem;
    line-height: 1.25rem;
}

.whitespace-nowrap {
    white-space: nowrap;
}

.gap-1\.5 {
    gap: .375rem;
}

.items-baseline {
    align-items: baseline;
}

.flex {
    display: flex;
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
    margin: 0;
}

.gap-1\.5 {
    gap: .375rem;
}

.items-center {
    align-items: center;
}

.flex {
    display: flex;
}

element.style {
}

.text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
}

.leading-none {
    line-height: 1;
}

.text-xs {
    font-size: .75rem;
    line-height: 1rem;
}

.bg-gray-200\/70 {
    background-color: #e5e7ebb3;
}

.rounded {
    border-radius: .25rem;
}

.justify-center {
    justify-content: center;
}

.items-center {
    align-items: center;
}

.w-5 {
    width: 1.25rem;
}

.h-3\.5 {
    height: .875rem;
}

.flex {
    display: flex;
}



.border-dotted {
    border-style: dotted;
}

.border-t {
    border-top-width: 1px;
}

.flex-1 {
    flex: 1 1 0%;
}


.text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
}

blockquote, dl, dd, h1, h2, h3, h4, h5, h6, hr, figure, p, pre {
    margin: 0;
}



.py-2 {
    padding-top: .5rem;
    padding-bottom: .5rem;
}

.px-3 {
    padding-left: .75rem;
    padding-right: .75rem;
}*/
/* 
    .overview-card-wrapper {
        border-radius: .5rem;
        border-width: 1px;
        --tw-border-opacity: 1;
        border-color: rgb(243 244 246 / var(--tw-border-opacity));
        background-image: linear-gradient(to right, var(--tw-gradient-stops));
        --tw-gradient-to: rgb(255 255 255 / 0) var(--tw-gradient-to-position);
        --tw-gradient-stops: var(--tw-gradient-from), #fff var(--tw-gradient-via-position), var(--tw-gradient-to);
        font-size: 1rem;
        line-height: 1.5rem;
        --tw-shadow: 0 1px 2px 0 rgb(0 0 0 / .05);
        --tw-shadow-colored: 0 1px 2px 0 var(--tw-shadow-color);
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        --tw-gradient-from: #f9fafb var(--tw-gradient-from-position);
        --tw-gradient-to: rgb(249 250 251 / 0) var(--tw-gradient-to-position);
        --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
        --tw-gradient-to: #fff var(--tw-gradient-to-position);
    }
 */
/*.py-6 {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important;
}

.flex-col {
    flex-direction: column !important;
}*/


@media (min-width: 1024px) {
    .lg\:col-span-3 {
        grid-column: span 3 / span 3;
    }
}

@media (min-width: 768px) {
    .md\:col-span-4 {
        grid-column: span 4 / span 4;
    }
}
@media (min-width: 1024px) {
    .lg\:text-xl\/6 {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
}
@media (min-width: 1280px) {
    .xl\:col-span-9 {
        grid-column: span 9 / span 9;
    }
}

@media (min-width: 1024px) {
    .lg\:col-span-9 {
        grid-column: span 9 / span 9;
    }
}

@media (min-width: 768px) {
    .md\:px-4 {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media (min-width: 768px) {
    .md\:col-span-8 {
        grid-column: span 8 / span 8;
    }
}
@media (min-width: 768px) {
    .md\:space-y-0 > :not([hidden]) ~ :not([hidden]) {
        --tw-space-y-reverse: 0;
        margin-top: calc(0px* calc(1 - var(--tw-space-y-reverse)));
        margin-bottom: calc(0px* var(--tw-space-y-reverse));
    }
}
@media (min-width: 768px) {
    .md\:bg-gradient-to-r {
        background-image: linear-gradient(to right, var(--tw-gradient-stops));
    }
}
@media (min-width: 640px) {
    .tab-alternate {
        padding-left: .875rem;
        padding-right: .875rem;
    }
}
@media (min-width: 640px) {
    .tab-alternate {
        padding-left: .875rem;
        padding-right: .875rem;
    }
}
@media (min-width: 640px) {
    .sm\:text-sm {
        font-size: .875rem;
        line-height: 1.25rem;
    }
}
@media (min-width: 1024px) {
    .lg\:grid-cols-2 {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (min-width: 640px) {
    .sm\:gap-y-7 {
        row-gap: 1.75rem;
    }
}

@media (min-width: 640px) {
    .sm\:gap-x-8 {
        -moz-column-gap: 2rem;
        column-gap: 2rem;
    }
}


@media (min-width: 1024px) {
    .lg\:col-span-2 {
        grid-column: span 2 / span 2;
    }
}
@media (min-width: 640px) {
    .sm\:mb-3 {
        margin-bottom: .75rem;
    }
}
@media (min-width: 640px) {
    .sm\:gap-2\.5 {
        gap: .625rem;
    }
}


@media (min-width: 640px) {
    .sm\:py-0\.5 {
        padding-top: .125rem;
        padding-bottom: .125rem;
    }
}

@media (min-width: 640px) {
    .sm\:px-2 {
        padding-left: .5rem;
        padding-right: .5rem;
    }
}
@media (min-width: 640px) {
    .sm\:mb-3 {
        margin-bottom: .75rem;
    }
}
@media (min-width: 640px) {
    .sm\:gap-1\.5 {
        gap: .375rem;
    }
}
@media (min-width: 640px) {
    .sm\:text-sm {
        font-size: .875rem;
        line-height: 1.25rem;
    }
}
/*element.style {
}*/

@media (min-width: 640px) {
    .sm\:hidden {
        display: none;
    }
}


@media (min-width: 1024px) {
    .lg\:col-span-2 {
        grid-column: span 2 / span 2;
    }
}


@media (min-width: 640px) {
    .sm\:gap-2\.5 {
        gap: .625rem !important;
    }
}
@media (min-width: 1280px) {
    .container-1 {
        max-width: 1280px !important;
    }
}

@media (min-width: 1024px) {
    .container-1 {
        max-width: 1024px !important;
    }
}

@media (min-width: 768px) {
    .container-1 {
        max-width: 768px !important;
    }
}

@media (min-width: 640px) {
    .container-1 {
        max-width: 640px !important;
    }
}
@media (min-width: 768px) {
    .md\:gap-6 {
        gap: 1.5rem !important;
    }
}

@media (min-width: 768px) {
    .md\:grid-cols-12 {
        grid-template-columns: repeat(12, minmax(0, 1fr)) !important;
    }
}

@media (min-width: 768px) {
    .md\:grid {
        display: grid !important;
    }
}

*, :before, :after {
    --tw-border-spacing-x: 0;
    --tw-border-spacing-y: 0;
    --tw-translate-x: 0;
    --tw-translate-y: 0;
    --tw-rotate: 0;
    --tw-skew-x: 0;
    --tw-skew-y: 0;
    --tw-scale-x: 1;
    --tw-scale-y: 1;
    --tw-pan-x:;
    --tw-pan-y:;
    --tw-pinch-zoom:;
    --tw-scroll-snap-strictness: proximity;
    --tw-gradient-from-position:;
    --tw-gradient-via-position:;
    --tw-gradient-to-position:;
    --tw-ordinal:;
    --tw-slashed-zero:;
    --tw-numeric-figure:;
    --tw-numeric-spacing:;
    --tw-numeric-fraction:;
    --tw-ring-inset:;
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgb(59 130 246 / .5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    --tw-shadow: 0 0 #0000;
    --tw-shadow-colored: 0 0 #0000;
    --tw-blur:;
    --tw-brightness:;
    --tw-contrast:;
    --tw-grayscale:;
    --tw-hue-rotate:;
    --tw-invert:;
    --tw-saturate:;
    --tw-sepia:;
    --tw-drop-shadow:;
    --tw-backdrop-blur:;
    --tw-backdrop-brightness:;
    --tw-backdrop-contrast:;
    --tw-backdrop-grayscale:;
    --tw-backdrop-hue-rotate:;
    --tw-backdrop-invert:;
    --tw-backdrop-opacity:;
    --tw-backdrop-saturate:;
    --tw-backdrop-sepia:;
    --tw-contain-size:;
    --tw-contain-layout:;
    --tw-contain-paint:;
    }

*, :before, :after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: #e5e7eb;
}

@media (min-width: 768px) {
    .md\:text-base {
        font-size: 1rem;
        line-height: 1.5rem;
    }
}